apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempconv-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tempconv-backend
  template:
    metadata:
      labels:
        app: tempconv-backend
    spec:
      containers:
        - name: backend
          image: us-central1-docker.pkg.dev/temp-converter-488818/tempconv/tempconv-backend:2.0.0
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
            - name: CORS_ORIGINS
              value: "*"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
