apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempconv-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempconv-frontend
  template:
    metadata:
      labels:
        app: tempconv-frontend
    spec:
      containers:
        - name: frontend
          image: us-central1-docker.pkg.dev/tempconv-485913/tempconv/tempconv-frontend:1.0.0
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 20
